
form {
  display: flex;
  flex: 2;
}

input {
  display: flex;
  flex: 4;
  padding: 10px;
  border-radius: 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border-style: groove;
  border-radius: 4px;
}

button {
  margin-left: 10px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  width: 60px;
  background-color: #6d6bde;
  color: white;
}

.delete-button {
  width: 60px;
  background-color: #dc6d61;
  color: white;
}

.description {
  width: 200px;
  margin-right: 100px;
}

.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
}

ul {
  margin-left: 0px;
  padding: 0px;
}

.tasks-header {
  cursor: pointer;
}